.content {
	margin-top: 50px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 1.8;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #ccc;
}
.ng-valid.ng-dirty {
	border-color: #ccc;
}
.nice-font {
    font-weight: 200;
    font-size: 22px;
    line-height: 1.8;
}

.dark-font-color {
    color: #666;
}

.navbar-inverse .navbar-form{
    background-color: #7704d1 !important;
}

.legendsText {
    font-size: 15px !important;
}