<section data-ng-controller="GroupsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Groups</h1>
    </div>
    <div class="list-group">
        <table class="table table-striped">
            <thead>
                <tr>
                  <th>Name</th>
                  <th>Created</th>
                </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="group in groups">
                <td>
                    <a data-ng-href="#!/groups/{{group._id}}">{{group.name}}</a>
                </td>
                <td>
                    {{group.created | date:medium}}
                </td>
            </tr>
            </tbody>   
        </table>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!groups.$resolved || groups.length">
    	No Groups yet, why don't you <a href="/#!/groups/create">create one</a>?
    </div>
</section>