<section data-ng-controller="GroupsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="group.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == group.user._id))">
		<a class="btn btn-primary" href="/#!/groups/{{group._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" ng-confirm-click='Are you sure?' confirmed-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<h3>Students List</h3>
	<ul>
		<li data-ng-repeat='student in group.studentsArrayList'>{{student}}</li>
	</ul>
	<small>
		<em class="text-muted">
			Created at
			<span data-ng-bind="group.created | date:'mediumDate'"></span>
		</em>
	</small>
</section>
