<section data-ng-controller="CompetitionsController" data-ng-init='viewCreateBug();'>
    <div class="col-md-6 col-md-offset-3" style="margin-top: 40px">
    <div class="panel panel-default">
        <div class="panel-heading">            
            <h3 class="panel-title">Report new bug</h3>
            <span class='legendsText'>This is the form to report a bug. All fields are mandatory.</span>
        </div>
        <div class='panel-body'>
            <div class="col-md-12">
                <form class="form-horizontal" data-ng-submit="reportBug()">
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label" for="title">Title</label>
                            <div class="controls">
                                <input type="text" data-ng-model="title" id="title" class="form-control" placeholder="Bug title" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="className">Class name</label>
                            <div class="">
                                <input type="text" data-ng-model="className" id="className" class="form-control" placeholder="Class name; write 'NONE' if the bug cannot be traced to a class" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="routineName">Routine name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="routineName" id="routineName" class="form-control" placeholder="Routine name; write 'NONE' if the bug cannot be traced to a routine" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="description">Description</label>
                            <div class="controls">
                                <textarea rows="4" class="form-control" data-ng-model="description" 
                                placeholder="Describe the bug, including, for example, input and expected output, or a list of actions performed" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="description">Name of the group where the bug occurs</label>
                            <div class="controls">
                                <select name="group" id="group" style="width:505px"
                                      ng-options="option.name for option in competition.groupsList track by option._id"
                                      ng-model="group" required><option></option></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-success">
                        </div>
        				<div data-ng-show="success" class="alert alert-success">
                            <strong data-ng-bind="success"></strong>
                        </div>
                        <div data-ng-show="error" class="alert alert-danger">
        					<strong data-ng-bind="error"></strong>
        				</div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>
