<section data-ng-controller="CompetitionsController" data-ng-init="getAllGroupsWrapperList()">
    <div class="page-header">
        <h1>New Competition</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="FIRST_BUG_IN_CLASS_C">First Bug in the Class</label>
                    <p>(Select the QTY points if the reported bug is the First in the Class C)</p>
                    <div class="controls">
                        <input type="number" data-ng-model="FIRST_BUG_IN_CLASS_C" id="FIRST_BUG_IN_CLASS_C" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="NOT_FIRST_BUG_IN_CLASS_C_BUT_YES_IN_ROUTINE_R">NOT_FIRST_BUG_IN_CLASS_C_BUT_YES_IN_ROUTINE_R</label>
                    <p>(Select the QTY points if the reported bug is not the First in the Class C, but yes in the Routine R)</p>
                    <div class="controls">
                        <input type="number" data-ng-model="NOT_FIRST_BUG_IN_CLASS_C_BUT_YES_IN_ROUTINE_R" id="NOT_FIRST_BUG_IN_CLASS_C_BUT_YES_IN_ROUTINE_R" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="NOT_FIRST_BUG_IN_CLASS_C_AND_NOT_FIRST_IN_ROUTINE_R">NOT_FIRST_BUG_IN_CLASS_C_AND_NOT_FIRST_IN_ROUTINE_R</label>
                    <p>(Select the QTY points if the reported bug is not the First in the Class C and nor in the Routine R)</p>
                    <div class="controls">
                        <input type="number" data-ng-model="NOT_FIRST_BUG_IN_CLASS_C_AND_NOT_FIRST_IN_ROUTINE_R" id="NOT_FIRST_BUG_IN_CLASS_C_AND_NOT_FIRST_IN_ROUTINE_R" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="PERSON_WHO_SUBMITTED_AN_ACCEPTED_BUG">PERSON_WHO_SUBMITTED_AN_ACCEPTED_BUG</label>
                    <p>(Select the QTY points if a submitted bug is Accepted)</p>
                    <div class="controls">
                        <input type="number" data-ng-model="PERSON_WHO_SUBMITTED_AN_ACCEPTED_BUG" id="PERSON_WHO_SUBMITTED_AN_ACCEPTED_BUG" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="PERSON_WHO_SUBMITTED_A_REJECTED_BUG">PERSON_WHO_SUBMITTED_A_REJECTED_BUG</label>
                    <p>(Select the QTY points if a submitted bug is Rejected)</p>
                    <div class="controls">
                        <input type="number" data-ng-model="PERSON_WHO_SUBMITTED_A_REJECTED_BUG" id="PERSON_WHO_SUBMITTED_A_REJECTED_BUG" class="form-control" required>
                    </div>
                </div>

                
                <div class="form-group">
                    <label class="control-label" for="groupsList">Groups List</label>
                    <div     
                        isteven-multi-select
                        input-model="wrapperGroupsList"
                        output-model="groupsSelectedList"
                        button-label="number"
                        item-label=" name number"
                        tick-property="selected",
                        output-properties="_id"
                    >
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>