<section data-ng-controller="CompetitionsController" data-ng-init='getUsersRanking()'>
    <div class="page-header">
        <h1>Users Ranking</h1>
    </div>
        <table ng-table="datatableUsersRanking" class="table table-bordered table-striped table-condensed" show-filter="true">
            <tr ng-repeat="user in $data">
                <td title="'User Name'" filter="{ user: 'text'}" sortable="'user'">
                    {{user.user}}
                </td>
                <td title="'Total Bugs Reported'" filter="{ bugsReported: 'text'}" sortable="'bugsReported'">
                    {{user.bugsReported}}
                </td>
                <td title="'Total points for reported bugs'" filter="{ totalReportedBugPoints: 'text'}" sortable="'totalReportedBugPoints'">
                    {{user.totalReportedBugPoints}}
                </td>
                <td title="'Total points for approved/rejected bugs'" filter="{ totalExtraPoints: 'text'}" sortable="'totalExtraPoints'">
                    {{user.totalExtraPoints}}
                </td>
                <td title="'Total SUM'" filter="{ totalPoints: 'text'}" sortable="'totalPoints'">
                    {{user.totalPoints}}
                </td>
            </tr>
        </table>
</section>