<section data-ng-controller="CompetitionsController" data-ng-init='getGroupsWithMoreBugsRanking()'>
    <div class="page-header">
        <h1>Groups With More Bugs Ranking</h1>
        <span class='legendsText'>This page show a ranking by groups with more bugs</span>
    </div>

    <table ng-table="datatableGroupsWithMoreBugsRanking" class="table table-bordered table-striped table-condensed" show-filter="true" >
    <tr ng-repeat="group in $data">
        <td title="'Group Name'" filter="{ group: 'text'}" sortable="'group'">
            {{group.group}}
        </td>
        <td title="'Total Bugs Reported'" filter="{ bugsReported: 'text'}" sortable="'bugsReported'">
            {{group.bugsReported}}
        </td>
        <td title="'Total SUM'" filter="{ totalPoints: 'text'}" sortable="'totalPoints'">
            {{group.totalPoints}}
        </td>
        <td title="'#Gold medals'" filter="{ totalGoldMedals: 'text'}" sortable="'totalGoldMedals'">
            x{{group.totalGoldMedals}}
        </td>
        <td title="'#Silver medals'" filter="{ totalSilverMedals: 'text'}" sortable="'totalSilverMedals'">
            x{{group.totalSilverMedals}}
        </td>

    </tr>
    </table>
</section>