<section data-ng-controller="CompetitionsController" data-ng-init='getUsersRanking()'>
    <div class="page-header">
        <h1>Users Ranking</h1>
        <span class='legendsText'>This page show a ranking by users with more points</span>
    </div>
        <table ng-table="datatableUsersRanking" ng-table-pagination class="table table-bordered table-striped table-condensed" show-filter="true">
            <tr ng-repeat="user in $data">
                <td title="'User Name'" filter="{ user: 'text'}" sortable="'user'">
                    {{user.user}}
                </td>
                <td title="'#Reported bugs'" filter="{ bugsReported: 'text'}" sortable="'bugsReported'">
                    {{user.bugsReported}}
                </td>
                <td title="'Points'" filter="{ totalPoints: 'text'}" sortable="'totalPoints'">
                    {{user.totalPoints}}
                </td>
                <td title="'#Gold medals'" filter="{ totalGoldMedals: 'text'}" sortable="'totalGoldMedals'">
                    {{user.totalGoldMedals}} x 
                    <img src="/modules/core/img/goldmedal.png" alt="Gold Medal" class="img-circle" style="height: 32px">
                </td>
                <td title="'#Silver medals'" filter="{ totalSilverMedals: 'text'}" sortable="'totalSilverMedals'">
                    {{user.totalSilverMedals}} x 
                    <img src="/modules/core/img/silvermedal.png" alt="Silver Medal" class="img-circle" style="height: 32px">
                </td>
                
            </tr>
        </table>
</section>