<section data-ng-controller="CompetitionsController" data-ng-init='getGroupsRanking()'>
    <div class="page-header">
        <h1>Groups Ranking</h1>
        <span class='legendsText'>This page show a ranking by groups with more points</span>
    </div>
        <table ng-table="datatableGroupsRanking" class="table table-bordered table-striped table-condensed" show-filter="true" >
        <tr ng-repeat="group in $data">
            <td title="'Group Name'" filter="{ group: 'text'}" sortable="'group'">
                {{group.group}}
            </td>
            <td title="'#Reported bugs'" filter="{ bugsReported: 'text'}" sortable="'bugsReported'">
                {{group.bugsReported}}
            </td>
            <td title="'Points'" filter="{ totalPoints: 'text'}" sortable="'totalPoints'">
                {{group.totalPoints}}
            </td>
            <td title="'#Gold medals'" filter="{ totalGoldMedals: 'text'}" sortable="'totalGoldMedals'">
                {{group.totalGoldMedals}} x
                <img src="/modules/core/img/goldmedal.png" alt="Gold Medal" class="img-circle" style="height: 32px">
            </td>
            <td title="'#Silver medals'" filter="{ totalSilverMedals: 'text'}" sortable="'totalSilverMedals'">
                {{group.totalSilverMedals}} x 
                <img src="/modules/core/img/silvermedal.png" alt="Silver Medal" class="img-circle" style="height: 32px">
            </td>
            
        </tr>
        </table>
</section>