<section data-ng-controller="CompetitionsController" data-ng-if="showMyOpenBugs">
    <section data-ng-if = "myOpenBugs.length > 0" >
        <div class="page-header">
            <h1>My Open Bugs List</h1>
        </div>
        <div class="list-bug">
            <ul>
                <li data-ng-repeat="bug in myOpenBugs" class="list-bug-item">
                    <p>Reported By: {{bug.user.displayName}}</p>
                    <p>Created at: <span data-ng-bind="bug.created | date:'mediumDate'"></span></p>

                    <p>Class Name: {{bug.className}}</p>
                    <p>Routine Name: {{bug.routineName}}</p>
                    <button class="btn btn-primary" data-ng-click="showDescription = !showDescription;">Bug Description</button>
                    <button class="btn btn-success" data-ng-click = "changeStatus('{{bug._id}}','APPROVED')">Approve</button>
                    <button class="btn btn-danger" data-ng-click = "changeStatus('{{bug._id}}','REJECTED')">Reject</button>
                    <p data-ng-if="showDescription">{{bug.description}}</p>
                </li>
            </ul>
        </div>
    </section>

    <section data-ng-if = "myOpenBugs.length == 0" >
        <div class="page-header">
            <h1>No Open Bugs yet</h1>
        </div>
    </section>

    <div class="alert alert-warning text-center" data-ng-hide="!openBugs.$resolved || openBugs.length">
    	No Open Bugs yet
    </div>
</section>