<section data-ng-controller="CompetitionsController" data-ng-if="true">
    <section data-ng-if = "openBugs.length > 0" >
        <div class="list-bug">
            <table ng-table="datatableListBugsRepeat" class="table table-bordered table-striped table-condensed" show-filter="true">
                <tr ng-repeat="bug in $data">
                    <td title="'Reported by'" filter="{ user: 'text'}" sortable="'user'">
                        {{bug.user.displayName}}
                    </td>
                    <td title="'Title'" filter="{ title: 'text'}" sortable="'title'">
                        <a data-ng-href="#!/competitions/{{competition._id}}/allBugs/{{bug._id}}">{{bug.title}}</a>
                    </td>
                    <td title="'Found in group'" filter="{ group_reported: 'text'}" sortable="'group_reported'">
                        {{bug.group_reported.name}}
                    </td>
                    <td title="'Created'" filter="{ created: 'text'}" sortable="'created'">
                        <span data-ng-bind="bug.created | date:'mediumDate'"></span>
                    </td>
                    <td title="'Class name'" filter="{ className: 'text'}" sortable="'className'">
                        {{bug.className}}
                    </td>
                    <td title="'Routine name'" filter="{ routineName: 'text'}" sortable="'routineName'">
                        {{bug.routineName}}
                    </td>
                    <td title="'Status'" filter="{ status: 'text'}" sortable="'status'">
                        {{bug.status}}
                    </td>
                </tr>
            </table>
        </div>
    </section>

    <section data-ng-if = "openBugs.length == 0" >
        <div class="page-header">
            <h1>No Bugs yet</h1>
        </div>
    </section>
    
    <div class="alert alert-warning text-center" data-ng-hide="!openBugs.$resolved || openBugs.length">
    	No Bugs yet
    </div>
</section>