<section data-ng-controller="CompetitionsController" data-ng-init='searchMyOpenBugs()'>
    <div class="page-header">
        <h1>Bugs Of My Group</h1>
        <span class='legendsText'>
        Shows all bugs reported in the competition '{{competition.name}}' for your group. To see the details of a bug, accept, or reject it, click the bug’s title. (You can only accept or reject bugs for your own group.)
        </span>
    </div>
    <section data-ng-if = "myOpenBugs.length > 0" data-ng-init= "myOpenBugsDatatable()" >
        <div class="list-bug">
                <table ng-table="datatableMyOpenBugs" class="table table-bordered table-striped table-condensed" show-filter="true">
                <tr ng-repeat="bug in $data">
                    <td title="'Reported by'" filter="{user.displayName: 'text'}" sortable="'user.displayName'">
                        {{bug.user.displayName}}
                    </td>
                    <td title="'Title'" filter="{ title: 'text'}" sortable="'title'">
                        <a data-ng-href="#!/competitions/{{competition._id}}/allBugs/{{bug._id}}">{{bug.title}}</a>
                    </td>

                    <td title="'Created'" filter="{ created: 'text'}" sortable="'created'">
                        <span data-ng-bind="bug.created | date:'mediumDate'"></span>
                    </td>
                    <td title="'Class name'" filter="{ className: 'text'}" sortable="'className'">
                        {{bug.className}}
                    </td>
                    <td title="'Routine name'" filter="{ routineName: 'text'}" sortable="'routineName'">
                        {{bug.routineName}}
                    </td>
                    <td title="'Status'" filter="{ status: 'text'}" sortable="'status'">
                        {{bug.status}}
                    </td>
                    <!--
                    <td title="'Bug Description'" filter="{ description: 'text'}" sortable="'description'">
                        <button class="btn btn-primary" data-ng-click="showDescription = !showDescription;"> Click to see the Bug Description</button>
                        <p>
                        <button class="btn btn-success" data-ng-click = "changeStatus('{{bug._id}}','APPROVED');">Approve Bug</button>
                        <button class="btn btn-danger" data-ng-click = "changeStatus('{{bug._id}}','REJECTED')">Reject Bug</button>
                        </p>
                        <p data-ng-if="showDescription">{{bug.description}}</p>
                    </td>
                    -->
                </tr>
            </table>
        </div>
    </section>

    <section data-ng-if = "myOpenBugs.length == 0" >
        <div class="page-header">
            <h1>No Bugs yet</h1>
        </div>
    </section>

    <div class="alert alert-warning text-center" data-ng-hide="!openBugs.$resolved || openBugs.length">
    	No Bugs yet
    </div>
</section>