<section data-ng-controller="CompetitionsController" data-ng-init='getAllByCompetition()'>
    <div class="page-header">
        <h1>All Bugs</h1>
        <span class='legendsText'>
        This page shows all the bugs reported in the competition '{{competition.name}}'. To see the details of the bugs, as well as to accept and reject the bug, click in the title. (You can only accepted and rejected bugs that are present in your group’s project)
        </legend>
    </div>
    <div class="list-bug">
        <!--
        <ul>
            <li data-ng-repeat="group in competition.groupsList" class="list-bug-item">
                <p data-ng-click = "getBugsPerGroup('{{group._id}}')">{{group.name}}</p>
            </li>
        </ul>
        -->
        <!--
        <select id="groupsList"  ng-model="clickedGroup" ng-options="gl.name for gl in competition.groupsList track by gl._id"ng-change="getBugsPerGroup(clickedGroup._id)"></select>
        -->
        <div data-ng-include="'/modules/competitions/views/list-bugs-repeat.client.view.html'"></div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!openBugs.$resolved || openBugs.length">
    	No Bugs yet
    </div>
</section>