<section data-ng-controller="MyCompetitionsController" data-ng-init = 'find()'>
    <div class="page-header">
        <h1>Competitions</h1>
    </div>
    <div class="list-group" data-ng-if="competitions.length>0">
        <table class="table table-striped">
            <thead>
                <tr>
                  <th>Name</th>
                  <th>Created</th>
                </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="competition in competitions">
                <td>
                    <a data-ng-href="#!/competitions/{{competition._id}}">{{competition.name}}</a>
                </td>
                <td>
                    {{competition.created | date:medium}}
                </td>
            </tr>
            </tbody>   
        </table>
    </div>
    <div data-ng-if = "competitions.length==0">
        You are not in any Competitions yet
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!competitions.$resolved || competitions.length">
    	You are not in any Competitions yet
    </div>
</section>