<section data-ng-controller="MyCompetitionsController" data-ng-init = 'find()'>
    <div class="page-header">
        <h1>Competitions</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="competition in competitions" data-ng-href="#!/competitions/{{competition._id}}" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="competition.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!competitions.$resolved || competitions.length">
    	You are not in any Competitions yet
    </div>
</section>