<section data-ng-controller="CompetitionsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="competition.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == competition.user._id))">
		<a class="btn btn-primary" href="/#!/competitions/{{competition._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" ng-confirm-click='Are you sure?' confirmed-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
<!--
	<span data-ng-click="showCreateBug=!showCreateBug">Click to Report a bug</span>
	<div data-ng-include="'/modules/competitions/views/create-bug.client.view.html'"></div>

	<span data-ng-click="searchOpenBugs()">See Open Bugs</span>
	<div data-ng-include="'/modules/competitions/views/list-bugs.client.view.html'"></div>
	
	<span data-ng-click="searchMyOpenBugs()">See My Open Bugs</span>
	<div data-ng-include="'/modules/competitions/views/list-my-open-bugs.client.view.html'"></div>
-->
  <tabset justified="true">
    <tab heading="Report a Bug" data-ng-click="changeShowStatus('showCreateBug')">
    	<div data-ng-include="'/modules/competitions/views/create-bug.client.view.html'"></div>
    </tab>
    <tab heading="All Bugs by Group " data-ng-click="searchOpenBugs()">
    	<div data-ng-include="'/modules/competitions/views/list-bugs.client.view.html'"></div>
    </tab>
    <tab heading="My Group Bugs" data-ng-click="searchMyOpenBugs()">
    	<div data-ng-include="'/modules/competitions/views/list-my-open-bugs.client.view.html'"></div>
    </tab>
    <tab heading="Ranking" data-ng-click="changeShowStatus('showRanking')"><div data-ng-include="'/modules/competitions/views/ranking.client.view.html'"></div></tab>

  </tabset>

</section>
