<section data-ng-controller='LogsController' data-ng-init='findAllLogs()'>
    <div class="page-header">
        <h1>Logs</h1>
        <span class='legendsText'>This page shows the logs</span>
    </div>

    <div ng-if="logAlerts.length>0" data-ng-repeat="alert in logAlerts">
        <div class="alert alert-danger">
            <strong data-ng-bind="alert.msg"> </strong>

        </div>

    </div>
    <h2> Bug reports and user sign in</h2>

    <div class="row projectStats-row-spacing">
    <div class="col-md-12">

    <div class="col-md-6">
    <h3> User sign in per day</h3>
        <div>
            <div ng-show="isLoadingSigninGraphData">
                <h4><span class="glyphicon glyphicon-refresh projectStats-load-icon-animate"></span>
                    Loading...
                </h4>
            </div>

            <div class="row projectStats-row-spacing">
            <div ng-if="!isLoadingSigninGraphData">
                <canvas id="line" class="chart chart-line" chart-data="singinGraph.data"
                        chart-labels="singinGraph.labels" chart-series="singinGraph.series" chart-options='chartOptions'>
                </canvas>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">

        <h3> Reported bugs per day</h3>
        <div>
            <div ng-show="isLoadingReportedBugGraphData">
                <h4><span class="glyphicon glyphicon-refresh projectStats-load-icon-animate"></span>
                    Loading...
                </h4>
            </div>

            <div class="row projectStats-row-spacing">
                <div ng-if="!isLoadingReportedBugGraphData">
                    <canvas id="line2" class="chart chart-line" chart-data="reportBugGraph.data"
                            chart-labels="reportBugGraph.labels" chart-series="reportBugGraph.series" chart-options='chartOptions'>
                    </canvas>
                </div>
            </div>
        </div>
    </div>

    </div>
    </div>
    <div class="row projectStats-row-spacing">
        <div class="col-md-12">

        <div class="col-md-6">
            <h3> Gold medals per day</h3>
            <div>
                <div ng-show="isLoadingReportedGoldMedalBugGraphData">
                    <h4><span class="glyphicon glyphicon-refresh projectStats-load-icon-animate"></span>
                        Loading...
                    </h4>
                </div>

                <div class="row projectStats-row-spacing">
                <div ng-if="!isLoadingReportedGoldMedalBugGraphData">
                    <canvas id="line3" class="chart chart-line" chart-data="reportGoldMedalBugGraph.data"
                            chart-labels="reportGoldMedalBugGraph.labels" chart-series="reportGoldMedalBugGraph.series" chart-options='chartOptions'>
                    </canvas>
                </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h3> Silver medals per day</h3>
            <div ng-show="isLoadingReportedSilverMedalBugGraphData">
                <h4><span class="glyphicon glyphicon-refresh projectStats-load-icon-animate"></span>
                    Loading...
                </h4>
            </div>

            <div class="row projectStats-row-spacing">
                <div ng-if="!isLoadingReportedSilverMedalBugGraphData">
                    <canvas id="line4" class="chart chart-line" chart-data="reportSilverMedalBugGraph.data"
                            chart-labels="reportSilverMedalBugGraph.labels" chart-series="reportSilverMedalBugGraph.series" chart-options='chartOptions'>
                    </canvas>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="row projectStats-row-spacing">
        <div class="col-md-12">
            <div class="col-md-6">
                <h3> Accepted bugs per day</h3>
                <div ng-show="isLoadingReportedAcceptedBugGraphData">
                    <h4><span class="glyphicon glyphicon-refresh projectStats-load-icon-animate"></span>
                        Loading...
                    </h4>
                </div>

                <div class="row projectStats-row-spacing">
                    <div ng-if="!isLoadingReportedAcceptedBugGraphData">
                        <canvas id="line5" class="chart chart-line" chart-data="reportAcceptedBugGraph.data"
                                chart-labels="reportAcceptedBugGraph.labels" chart-series="reportAcceptedBugGraph.series" chart-options='chartOptions'>
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3> Rejected bugs per day</h3>
                <div ng-show="isLoadingReportedRejectedBugGraphData">
                    <h4><span class="glyphicon glyphicon-refresh projectStats-load-icon-animate"></span>
                        Loading...
                    </h4>
                </div>

                <div class="row projectStats-row-spacing">
                    <div ng-if="!isLoadingReportedRejectedBugGraphData">
                        <canvas id="line6" class="chart chart-line" chart-data="reportRejectedBugGraph.data"
                                chart-labels="reportRejectedBugGraph.labels" chart-series="reportRejectedBugGraph.series" chart-options='chartOptions'>
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row projectStats-row-spacing">
        <div class="col-md-12">
            <div class="col-md-6">
                <h3> Status Bugs Pie Chart</h3>
                <div ng-show="isLoadingStatusBugGraphData">
                    <h4><span class="glyphicon glyphicon-refresh projectStats-load-icon-animate"></span>
                        Loading...
                    </h4>
                </div>

                <div class="row projectStats-row-spacing">
                    <div ng-if="!isLoadingStatusBugGraphData">
                    
                        <canvas id="pie" class="chart chart-pie" chart-data="listStatusBugsGraph.data" chart-labels="listStatusBugsGraph.labels" chart-legend='true'>
                        </canvas> 
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3> Ranking hits per day</h3>
                <div ng-show="isLoadingAccessToRankingsGraphData">
                    <h4><span class="glyphicon glyphicon-refresh projectStats-load-icon-animate"></span>
                        Loading...
                    </h4>
                </div>

                <div class="row projectStats-row-spacing">
                    <div ng-if="!isLoadingAccessToRankingsGraphData">
                        <canvas id="line6" class="chart chart-line" chart-data="accessToRankingsGraph.data"
                                chart-labels="accessToRankingsGraph.labels" chart-series="accessToRankingsGraph.series" chart-options='chartOptions'>
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row projectStats-row-spacing">
            <div class="col-md-12">
                <h3> Bugs Per User</h3>
                <div ng-show="isLoadingBugsPerUserGraphData">
                    <h4><span class="glyphicon glyphicon-refresh projectStats-load-icon-animate"></span>
                        Loading...
                    </h4>
                </div>

                <div class="row projectStats-row-spacing">
                    <div ng-if="!isLoadingBugsPerUserGraphData">
                        <canvas id="line5" class="chart chart-line" chart-data="reportBugsPerUserGraph.data"
                                chart-labels="reportBugsPerUserGraph.labels" chart-series="reportBugsPerUserGraph.series" chart-options='chartOptions' style='width: 1172px;height: 360px;'>
                        </canvas>
                    </div>
                </div>
            </div>
    </div>
    <div class='row'>
        <h2>Details of all logs </h2>
        <table ng-table="datatableLogs" class="table table-bordered table-striped table-condensed" show-filter="true" >
    	    <tr ng-repeat="log in $data">
    	        <td title="'Date'" filter="{ date: 'text'}" sortable="'date'">
                	<span data-ng-bind="log.date | date:'medium'"></span>
                </td>
    	        <td title="'Event'" filter="{ pageText: 'text'}" sortable="'pageText'">
    	            {{log.pageText}}
    	        </td>
    	        <td title="'Username'" filter="{ userName: 'text'}" sortable="'userName'">
    	            {{log.userName}}
    	        </td>
    	        <td title="'Group Name'" filter="{ groupName: 'text'}" sortable="'groupName'">
    	            {{log.groupName}}
    	        </td>
    	        <td title="'Competition Name'" filter="{ competitionName: 'text'}" sortable="'competitionName'">
    	            {{log.competitionName}}
    	        </td>
    	    </tr>
        </table>
    </div>
</section>